.logo img{
    height:60px;
} 
.logo span{
    color: black;
    margin-left: 10px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}